<div {{on "click" this.toggle}}>
  <span>{{@name}}</span>
  {{#if this.showing}}
    <div class="text-base">
      <a href={{@link}} target="_blank" rel="noopener noreferrer" class="underline">{{@title}}</a>
    </div>
  {{/if}}
</div>