<div {{on "click" this.toggle}}>
  <span>{{@name}}</span>
  {{#if this.showing}}
    <div>
      <a class="underline" href={{@link}} target="_blank" rel="noopener noreferrer">{{@title}}</a>
    </div>
  {{/if}}
</div>