<div class="flex inline-flex">
<button type="button" {{on "click" this.toggle}}>
  <span>{{@name}}</span>
</button>
  {{#if (eq @day "1")}}
    <div class="plays-on-friday">
      <span>Friday</span>
    </div>
  {{/if}}
  {{#if (eq @day "2")}}
    <div class="plays-on-saturday">
      <span>Saturday</span>
    </div>
  {{/if}}
  {{#if (eq @day "3")}}
    <div class="plays-on-friday">
      <span>Friday</span>
    </div>
    <div class="plays-both-days"><span>&</span></div>
    <div class="plays-on-saturday">
      <span>Saturday</span>
    </div>
  {{/if}}
</div>
{{#if this.showing}}
  <div class="text-base">
    <a href={{@link}} target="_blank" rel="noopener noreferrer" class="underline">{{@title}}</a>
  </div>
{{/if}}