<ul id="expo-dj-lineup" class="mr-6 text-center">
  <li>
    <Artist
      @name="ovenrake" 
      @link="https://datafruits.fm/djs/ovenrake"
      @title="Datafruits" 
      @day="1"/>
  </li>
  <li>
    <Artist 
      @name="Zaxy"
      @link="https://soundcloud.com/azaxxii" 
      @title="SoundCloud" 
      @day="1"/>
  </li>
  <li>
    <Artist 
      @name="WIFI CELLPHONE KIDZ" 
      @link="https://soundcloud.com/wificellphonekidz" 
      @title="SoundCloud" 
      @day="1"/>
  </li> 
  <li>
    <Artist
      @name="FMSHAGGI" 
      @link="https://soundcloud.com/fmshaggi" 
      @title="Soundcloud"
      @day="1"/>
  </li>
  <li>
    <Artist 
      @name="alptrack" 
      @link="https://alptrack.bandcamp.com/" 
      @title="Bandcamp"
      @day="1"/>
  </li>
  <li>
    <Artist 
      @name="Ivy Hollivana" 
      @link="https://bio.site/ivyhollivana"
      @title="Bio Site"
      @day="1"/>
  </li>
  <li>
    <Artist 
      @name="jonnn"
      @link="https://fastdrums.bandcamp.com/" 
      @title="Bandcamp"
      @day="1"/>
  </li>
    <li>
    <Artist 
      @name="venoSci" 
      @link="https://venosci.bandcamp.com/" 
      @title="Bandcamp"
      @day="1"/>
  </li>
    <li class="leading-10">
    <Artist
      @name="Sarah Allen Reed & The Jazz Program" 
      @link="https://truckstop.coffee/"
      @title="Homepage" 
      @day="2"/>
  </li>
  <li>
    <Artist
      @name="getdizzy" 
      @link="https://octopusinc.bandcamp.com/" 
      @title="Bandcamp"
      @day="2"/>
  </li>
  <li>
    <Artist 
      @name="DJ Fuzzy Guy"
      @link="https://youtu.be/dG5_aDZbn8w"
      @title="Youtube"
      @day="2"/>
  </li>
  <li>
    <Artist 
      @name="firedrill" 
      @link="https://datafruits.bandcamp.com/album/free-drull-free-life" 
      @title="Bandcamp" 
      @day="2"/>
  </li>
  <li>
    <Artist 
      @name="Saskrotch" 
      @link="https://linktr.ee/saskrotch" 
      @title="linktree"
      @day="2"/>
  </li>
  <li>
    <Artist
      @name="gossamarie" 
      @link="https://gossamarie.bandcamp.com/" 
      @title="Bandcamp"
      @day="2"/>
    <div class="">B2B</div>
    <Artist 
      @name="lebers"
      @link="https://lebers.bandcamp.com/" 
      @title="Bandcamp"/>
  </li>
  <li>
    <Artist 
      @name="lilienfeld" 
      @link="https://neondoom.com/" 
      @title="Bandcamp"
      @day="2"/>
  </li>
  <li>
    <Artist 
      @name="DJ Cyber Grandpa" 
      @link="https://youtu.be/ajJ8X0d0GWo" 
      @title="Youtube" 
      @day="2"/>
  </li>
</ul>