<ul id="expo-dj-lineup" class="mr-6" {{on "click" this.onClick}}>
  <li class="leading-8">
    <a href="https://soundcloud.com/wificellphonekidz" target="_blank">WIFI CELLPHONE KIDZ</a>
  </li>
  <li>
    <a href="https://linktr.ee/saskrotch" target="_blank">Saskrotch</a>
  </li>
  <li>
    <a href="https://alptrack.bandcamp.com/" target="_blank">alptrack</a>
  </li>
  <li>
    <a href="https://soundcloud.com/azaxxii" target="_blank">Zaxy</a>
  </li>
  <li>
    <a href="https://bio.site/ivyhollivana" target="_blank">Ivy Hollivana</a>
  </li>
  <li>
    <a href="https://fastdrums.bandcamp.com/" target="_blank">jonnn</a>
  </li>
  <li class="leading-8">
    <a href="https://youtu.be/ajJ8X0d0GWo" target="_blank">DJ Cyber Grandpa</a>
  </li>
  <li>
    <a href="https://www.bleakbeat.com/" target="_blank">lilienfeld</a>
  </li>
  <li>
    <a href="https://datafruits.fm/djs/ovenrake" target="_blank">ovenrake</a>
  </li>
  <li class="leading-8">
    <a href="https://youtu.be/dG5_aDZbn8w" target="_blank">DJ Fuzzy Guy</a>
  </li>
  <li>
    <a href="https://venosci.bandcamp.com/" target="_blank">venoSci</a>
  </li>
  <li>
    <a href="https://soundcloud.com/fmshaggi" target="_blank">FMSHAGGI</a>
  </li>
  <li>
    <a href="https://twitter.com/getdizzzy" target="_blank">getdizzy</a>
  </li>
  <li class="leading-10">
    <a href="https://truckstop.coffee/" target="_blank">Sarah Allen Reed & The Jazz Program</a>
  </li>
  <li>
    <a href="https://datafruits.bandcamp.com/album/free-drull-free-life" target="_blank">firedrill</a>
  </li>
  <li class="leading-10">
    <a href="https://gossamarie.bandcamp.com/" target="_blank">gossamarie</a> <strong>b2b</strong> <a href="https://lebers.bandcamp.com/">lebers</a>
  </li>
</ul>