<ul id="expo-dj-lineup" class="mr-6">
  <li class="leading-8">
    <Artist @name="WIFI CELLPHONE KIDZ" @link="https://soundcloud.com/wificellphonekidz" @title="SoundCloud"/>
  </li>
  <li>
    <Artist @name="Saskrotch" @link="https://linktr.ee/saskrotch" @title="linktree" />
  </li>
  <li>
    <a href="https://alptrack.bandcamp.com/" target="_blank" rel="noopener noreferrer">alptrack</a>
  </li>
  <li>
    <a href="https://soundcloud.com/azaxxii" target="_blank" rel="noopener noreferrer">Zaxy</a>
  </li>
  <li>
    <a href="https://bio.site/ivyhollivana" target="_blank" rel="noopener noreferrer">Ivy Hollivana</a>
  </li>
  <li>
    <a href="https://fastdrums.bandcamp.com/" target="_blank" rel="noopener noreferrer">jonnn</a>
  </li>
  <li class="leading-8">
    <a href="https://youtu.be/ajJ8X0d0GWo" target="_blank" rel="noopener noreferrer">DJ Cyber Grandpa</a>
  </li>
  <li>
    <a href="https://www.bleakbeat.com/" target="_blank" rel="noopener noreferrer">lilienfeld</a>
  </li>
  <li>
    <a href="https://datafruits.fm/djs/ovenrake" target="_blank" rel="noopener noreferrer">ovenrake</a>
  </li>
  <li class="leading-8">
    <a href="https://youtu.be/dG5_aDZbn8w" target="_blank" rel="noopener noreferrer">DJ Fuzzy Guy</a>
  </li>
  <li>
    <a href="https://venosci.bandcamp.com/" target="_blank" rel="noopener noreferrer">venoSci</a>
  </li>
  <li>
    <a href="https://soundcloud.com/fmshaggi" target="_blank" rel="noopener noreferrer">FMSHAGGI</a>
  </li>
  <li>
    <a href="https://twitter.com/getdizzzy" target="_blank" rel="noopener noreferrer">getdizzy</a>
  </li>
  <li class="leading-10">
    <a href="https://truckstop.coffee/" target="_blank" rel="noopener noreferrer">Sarah Allen Reed & The Jazz Program</a>
  </li>
  <li>
    <a href="https://datafruits.bandcamp.com/album/free-drull-free-life" target="_blank" rel="noopener noreferrer">firedrill</a>
  </li>
  <li class="leading-10">
    <a href="https://gossamarie.bandcamp.com/" target="_blank" rel="noopener noreferrer">gossamarie</a> <strong>b2b</strong> <a href="https://lebers.bandcamp.com/">lebers</a>
  </li>
</ul>