<ul id="expo-dj-lineup" class="mr-6 text-center">
  <li>
    <Artist @name="WIFI CELLPHONE KIDZ" @link="https://soundcloud.com/wificellphonekidz" @title="SoundCloud"/>
  </li>
  <li>
    <Artist @name="Saskrotch" @link="https://linktr.ee/saskrotch" @title="linktree" />
  </li>
  <li>
    <Artist @name="alptrack" @link="https://alptrack.bandcamp.com/" @title="Bandcamp"/>
  </li>
  <li>
    <Artist @name="Zaxy" @link="https://soundcloud.com/azaxxii" @title="SoundCloud" />
  </li>
  <li>
    <Artist @name="Ivy Hollivana" @link="https://bio.site/ivyhollivana" @title="Bio Site" />
  </li>
  <li>
    <Artist @name="jonnn" @link="https://fastdrums.bandcamp.com/" @title="Bandcamp" />
  </li>
  <li>
    <Artist @name="DJ Cyber Grandpa" @link="https://youtu.be/ajJ8X0d0GWo" @title="Youtube" />
  </li>
  <li>
    <Artist @name="lilienfeld" @link="https://neondoom.com/" @title="Bandcamp" />
  </li>
  <li>
    <Artist @name="ovenrake" @link="https://datafruits.fm/djs/ovenrake" @title="Datafruits" />
  </li>
  <li>
    <Artist @name="DJ Fuzzy Guy" @link="https://youtu.be/dG5_aDZbn8w" @title="Youtube" />
  </li>
  <li>
    <Artist @name="venoSci" @link="https://venosci.bandcamp.com/" @title="Bandcamp" />
  </li>
  <li>
    <Artist @name="FMSHAGGI" @link="https://soundcloud.com/fmshaggi" @title="Soundcloud" />
  </li>
  <li>
    <Artist @name="getdizzy" @link="https://octopusinc.bandcamp.com/" @title="Bandcamp" />
  </li>
  <li class="leading-10">
    <Artist @name="Sarah Allen Reed & The Jazz Program" @link="https://truckstop.coffee/" @title="Homepage" />
  </li>
  <li>
    <Artist @name="firedrill" @link="https://datafruits.bandcamp.com/album/free-drull-free-life" @title="Bandcamp" />
  </li>
  <li>
    <Artist @name="gossamarie" @link="https://gossamarie.bandcamp.com/" @title="Bandcamp" />
    <div class="">B2B</div>
    <Artist @name="lebers" @link="https://lebers.bandcamp.com/" @title="Bandcamp" />
  </li>
</ul>