<section id="travel-tips">
<h3 class="text-4xl">TRAVEL TIPS</h3>
<div class="w-full overflow-hidden m-10 p-5">
  <iframe width="425" height="350" class="border-solid border-1 border-black"
    frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
    src="https://www.openstreetmap.org/export/embed.html?bbox=-87.64951854944232%2C41.845747975653794%2C-87.64503926038743%2C41.847490290204185&amp;layer=mapnik" 
    style="border: 1px solid black">
  </iframe>
  <br/>
  <small>
    <a href="https://www.openstreetmap.org/#map=19/41.84662/-87.64728">View Larger Map</a>
  </small>
</div>
<div id="modes-of-transportation" class="m-10 p-5">
  <h4>
    Airplane
  </h4>
  <p>
    Chicago has two airports. The <a target="_blank" href="https://www.flychicago.com/midway/home/pages/default.aspx">Chicago Midway International</a> is closer to the venue, but <a class="text-blue-900 underline text-xl hover:text-yellow-600 hover:bg-blue-900" target="_blank" href="https://www.flychicago.com/ohare/home/Pages/default.aspx">O'Hare</a> has more connections.
  </p>
  <h4>
    Train
  </h4>
  <p>
    The Amtrak train stops at <a href="https://www.amtrak.com/stations/chi">Union Station</a>
  </p>
  <p>
    The <a href="https://www.transitchicago.com/orangeline/">Orange Line 'L'</a> stops near the venue. Use the <strong>Halsted</strong> stop. This line also connects to Midway.
  </p>
  <p>
    The <a href="https://www.transitchicago.com/blueline/">Blue Line 'L'</a> Connects to O'Hare. Connections the Orange Line can be made downtown at <strong>Clark/Lake</strong> & <strong>Jackson</strong>.
  </p>
  <h4>
    Bus
  </h4>
  <p>The <a href="https://www.transitchicago.com/bus/62/">62</a> connects downtown with South Side. Halfway through the route it stops nearby the venue at <strong>Archer & Green</strong>
  The <a href="https://www.transitchicago.com/bus/8/">8</a> also connects downton with South Side. It also stops at <strong>Archer & Green</strong>.</p>
</div>

</section>
