<section id="travel-tips">
<h3 class="text-4xl">TRAVEL TIPS</h3>
<div class="w-full overflow-hidden flex justify-center">
  <iframe
    class="border-solid border-1 border-black"
    width="425" 
    height="350" 
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://www.openstreetmap.org/export/embed.html?bbox=-87.64882922172548%2C41.84586386502125%2C-87.64580368995667%2C41.84759219015986&amp;layer=mapnik"
  >
  </iframe>
  <br/>
  <p style="padding-top: 320px" class="mx-4 text-xl font-cursive italic">
    <a href="https://www.openstreetmap.org/#map=19/41.84673/-87.64732">View Larger Map</a>
  </p>
</div>
<div class="m-10 p-10">
  <h4>
    Airplane
  </h4>
  <p>lorem ispum</p>
  <h4>
    Train
  </h4>
  <p>lorem ispum</p>
  <h4>
    Bus
  </h4>
  <p>lorem ispum</p>
</div>

</section>
