<ul id="expo-vj-lineup" class="mr-6 text-center">
  <li>
    <Artist 
      @name="Hazelboy" 
      @link="https://www.morphmagic.net/"
      @title="Homepage"
      @day="3"/>
  </li>
  <li>
    <Artist 
      @name="Sum of The Pixels" 
      @link="https://twitter.com/verycooltony" 
      @title="Twitter"
      @day="3"/>
  </li>
  <li>
    <Artist 
      @name="Oracle" 
      @link="https://oliviaorzechowski.squarespace.com/"
      @title="Homepage" 
      @day="3"/>
  </li>
  <li>
    <Artist 
      @name="pointless insanity" 
      @link="https://www.beckyfrass.art/" 
      @title="Homepage" 
      @day="3"/>
  </li>
  <li>
    <Artist 
      @name="Jace Inman" 
      @day="3"/>
  </li>
</ul>