@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Debussy;
  src: url("hinted-Debussy.woff2") format("woff2"),
    url("hinted-Debussy.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Topaz;
  src: url("TopazPlus_a1200.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-smooth: never !important;
  -webkit-font-smooth: none !important;
  -webkit-font-smoothing: none !important;
  -moz-osx-font-smoothing: none !important;
  font-smoothing: none !important;
}

h1,
h2,
h3 {
  @apply font-debussy;
}

main {
  background-image: url("/assets/fruit_shower_xpo.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
}

nav {
  background-color: #0084ff;
}

nav li {
  color: #e8e000;
  padding: 0 1rem;
}

#poster-full, #beamsprout-full {
  margin: 0 2.5rem;
}

#flyer-bg {
  background: repeating-conic-gradient(#e8e000 0% 25%, #00a7b3 0% 50%) 50%/ 120px
    120px;
}

#info-article {
  background-color: rgb(216 255 29 / 52%);
}

#info-article h1,
h2 {
  color: rgb(18 1 65);
  text-align: center;
}

#where-section {
  background-color: rgb(29 229 255 / 52.1%);
}

#where-section h1,
h2,
h3 {
  color: rgb(18 1 65);
  text-align: center;
}

#where-section span {
  color: rgb(18 1 65);
  font-size: x-large;
}

#tickets-section {
  font-size: x-large;
  color: rgb(18 1 65);
  background-color: rgb(223 208 208 / 78.8%);
}

#sponsors {
  background-color: #8400ffb5;
}

#travel-tips {
  background-color: #00d0ffb5;
}

#travel-tips h4 {
  text-align: start;
  font-size: xx-large;
  color: rgb(44, 40, 22);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#modes-of-transportation a {
  @apply text-blue-900 underline text-2xl hover:text-yellow-600 hover:bg-blue-900;
}
#modes-of-transportation p {
  font-size: x-large;
  padding: 1rem;
}

#schedule {
  background-color: #0084ff;
  color: rgb(223 217 247);
}

#schedule h3,
h4 {
  font-weight: 700;
  text-align: center;
  margin: 0 3rem;
  color: rgb(238 250 215);
}

#schedule li {
  margin: 0 1rem;
}

#expo-dj-lineup li,
#expo-vj-lineup li {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: xx-large;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

#expo-dj-lineup li:hover,
#expo-vj-lineup li:hover {
  color: #e8e000;
  border: thin solid #e8e000;
}

#sponsors-list img {
  height: 150px;
}
.plays-on-friday, .plays-on-saturday, .plays-both-days {
  font-size: medium;
  font-family: cursive;
  border: medium  double rgb(248, 248, 79);
  color: rgb(235, 250, 215);
  text-align: center;
  vertical-align: top;
  height: min-content;
  width: min-content;
  padding: 0 .5rem;
  margin: 0 .5rem;
}

.plays-on-friday {
  background-color: rgb(182, 0, 232);
}

.plays-on-saturday {
  background-color: #c500e8;
}

.plays-both-days {
  background-color: #0c00e8;
  margin: 0.25rem;
}
