{{page-title "DATAFRUITS WORLD EXPO 2023"}}

<main class="w-screen h-screen">
  <nav>
    <ul class="flex flex-wrap">
      <li><a href="#schedule">SCHEDULE</a></li>
      <li><a href="#info">INFO</a></li>
      <li><a href="#travel">TRAVEL</a></li>
    </ul>
  </nav>
  <div class="md:flex md:flex-row">
    <section id="poster-full" class="w-full">
      <img src="{{this.expo}}" alt="" class="object-scale-down w-max-full w-full h-full">
    </section>
    <section id="flyer-bg" class="max-w-sm">
      <article id="info-article" class="p-2 m-4">
        <h1 class="text-4xl md:text-7xl">
          Datafruits World Expo
        </h1>
        <h2 class="text-2xl md:text-5xl">
          August 4th - 5th
        </h2>
        <h2 class="text-2xl md:text-5xl">
          2023
        </h2>
      </article>
      <article id="details-article" class="p-2 m-4">
        <section id="where-section" class="w-full md:w-1/2">
          <h3 class="text-4xl">WHERE</h3>
          <span>
            <strong>
              DADS Chicago
            </strong>
          </span>
          <br />
          <span>
            2515 S Archer Ave Ste 2
          </span>
          <br />
          <span>
            Chicago, IL 60608
          </span>
        </section>
        <section id="tickets-section" class="">
          <h3 class="text-3xl">TICKETS</h3>
          <ul>
            <li>$20 Two-Day Expo Wristbands (Early Presale)</li>
            <li>$25 Two-Day Expo Wristbands (Not Presale)</li>
            <li>$15 Each Day</li>
          </ul>
          <span>
            Tickets available at:
          </span>
          <br />
          <a
            class="text-blue-600 bg-yellow-200"
            href="http://www.dadschicago.com/tickets/"
          >http://www.dadschicago.com/tickets/</a>
          <br />
        </section>
      </article>
      <article id="lineup-article" class="w-full">
        <h3 class="text-4xl py-2">DJs/Artists/Performers</h3>
        <ul id="expo-dj-lineup" class="list-disc ml-6 text-center">
          <li>
            <a href="https://soundcloud.com/wificellphonekidz">WIFI CELLPHONE KIDZ</a>
          </li>
          <li>
            <a href="https://alptrack.bandcamp.com/">alptrack</a>
          </li>
          <li>
            <a href="https://soundcloud.com/azaxxii">Zaxy</a>
          </li>
          <li>
            <a href="https://fastdrums.bandcamp.com/">jonnn</a>
          </li>
          <li>
            <a href="https://youtu.be/dG5_aDZbn8w">DJ Fuzzy Guy</a>
          </li>
          <li>
            <a href="https://venosci.bandcamp.com/">venoSci</a>
          </li>
          <li>
            <a href="https://bio.site/ivyhollivana">Ivy Hollivana</a>
          </li>
          <li>
            <a href="https://datafruits.fm/djs/ovenrake">ovenrake</a>
          </li>
          <li>
            <a href="https://soundcloud.com/fmshaggi">FMSHAGGI</a>
          </li>
          <li>
            <a href="https://twitter.com/getdizzzy">getdizzy</a>
          </li>
          <li>
            <a href="https://truckstop.coffee/">Sarah Allen Reed & The Jazz Program</a>
          </li>
          <li>
            <a href="https://datafruits.bandcamp.com/album/free-drull-free-life">firedrill</a>
          </li>
          <li>
            <a href="https://linktr.ee/saskrotch">Saskrotch</a>
          </li>
          <li>
            <a href="https://gossamarie.bandcamp.com/">gossamarie</a> <strong>b2b</strong> <a href="https://lebers.bandcamp.com/">lebers</a>
          </li>
          <li>
            <a href="https://www.bleakbeat.com/">lilienfeld</a>
          </li>
          <li>
            <a href="https://youtu.be/ajJ8X0d0GWo">DJ Cyber Grandpa</a>
          </li>
        </ul>
        <hr>
        <h3 class="text-4xl py-2">VJs/Artists/VeeJays</h3>
        <ul id="expo-vj-lineup" class="list-disc ml-6 text-center">
          <li>
            <a href="https://www.morphmagic.net/">Hazelboy</a>
          </li>
          <li>
            <a href="https://oliviaorzechowski.squarespace.com/">Oracle</a>
          </li>
          <li>
            <a href="">Jace Inman</a>
          </li>
          <li>
            <a href="https://www.beckyfrass.art/">pointless insanity</a>
          </li>
          <li>
            <a href="https://twitter.com/verycooltony">Sum of The Pixels</a>
          </li>
        </ul>
      </article>
      <section id="sponsors">
        <SponsorsList />
      </section>
      <section id="schedule">
      </section>
      <section id="travel">
        <h1>TRAVEL TIPS</h1>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-87.64882922172548%2C41.84586386502125%2C-87.64580368995667%2C41.84759219015986&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/41.84673/-87.64732">View Larger Map</a></small>
      </section>
    </section>
  </div>
</main>