{{page-title "DATAFRUITS WORLD EXPO 2023"}}

<main class="w-screen">
  <nav class="w-full">
    <ul class="flex flex-wrap justify-center">
      <li><a href="#schedule">SCHEDULE</a></li>
      <li><a href="#info">INFO</a></li>
      <li><a href="#travel">TRAVEL</a></li>
      <li><a href="#sponsors">SPONSORS</a></li>
    </ul>
  </nav>
  <div class="flex flex-row justify-center items-center w-full">
    <section id="flyer-bg" class="w-full md:w-3/4">
      <article id="info-article" class="p-2 m-4">
        <h1 class="text-4xl md:text-7xl">
          Datafruits World Expo
        </h1>
        <h2 class="text-2xl md:text-3xl">
          August 4th - 5th
        </h2>
        <h2 class="text-2xl md:text-3xl">
          2023
        </h2>
      </article>
      <section id="poster-full" class="flex justify-center">
        <img src="{{this.expo}}" alt="Poster for expo" class="object-scale-down">
      </section>
      <article id="details-article" class="p-2 m-4">
        <section id="where-section" class="py-4 pl-8 text-4xl">
          <h3 class="text-5xl">WHERE</h3>
          <div class="text-4xl font-serif font-sans">
            <p>
              DADS Chicago
            </p>
            <br />
            <p>
              2515 S Archer Ave Ste 2
            </p>
            <br />
            <p>
              Chicago, IL 60608
            </p>
          </div>
        </section>
        <section id="tickets-section" class="py-4 px-8">
          <h3 class="text-5xl">TICKETS</h3>
          <ul class="text-4xl">
            <li class="py-8">
              <p>
                $20 Two-Day Expo Wristbands
              </p>
              <ul>
                <li class="italic text-3xl">(Early Presale)</li>
                <li><img src={{this.bandz2}} alt=""></li>
                <li><img src={{this.bandz1}} alt=""></li>
              </ul>
            </li>
            <li class="py-10">$15 Each Day</li>
          </ul>
          <p class="text-3xl">
            Tickets available at:
          </p>
          <br />
          <a
            class="break-words underline text-blue-600 bg-yellow-200"
            href="http://www.dadschicago.com/tickets/"
            target="_blank"
          >www.dadschicago.com/tickets/</a>
          <br />
        </section>
      </article>
      <article id="lineup-article" class="p-2 m-4">
        <h3 class="text-4xl my-2">Performances</h3>
        <DjsList />
        <hr>
        <h3 class="text-4xl py-2">Viz<img style="height: 4rem;" class="inline" src="https://datafruits.fm/assets/images/emojis/viz.gif" /></h3>
        <VjsList />
      </article>
      <section id="sponsors">
        <SponsorsList />
      </section>
      <section id="schedule" class="p-2 m-4">
        <h1 class="text-4xl">SCHEDULE TBA</h1>
        <img src="https://streampusher.com/assets/images/under-construction-302f35220b5aec391ea834682072d995.gif" />
      </section>
      <section id="travel" class="p-2 m-4">
        <h1 class="text-4xl">TRAVEL TIPS</h1>
        <img src="https://streampusher.com/assets/images/under-construction-302f35220b5aec391ea834682072d995.gif" />
        <div class="w-full overflow-hidden">
          <iframe
            class="border-solid border-1 border-black"
            width="425" 
            height="350" 
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://www.openstreetmap.org/export/embed.html?bbox=-87.64882922172548%2C41.84586386502125%2C-87.64580368995667%2C41.84759219015986&amp;layer=mapnik"
          >
          </iframe>
          <br/>
          <small>
            <a href="https://www.openstreetmap.org/#map=19/41.84673/-87.64732">View Larger Map</a>
          </small>
        </div>
      </section>
    </section>
  </div>
</main>