{{page-title "DATAFRUITS WORLD EXPO 2023"}}

<section>
  <h1>Datafruits World Expo</h1>
  <h2>August 4th + 5th</h2>
</section>
<section>
  15+ Artists/Musicians
  VJs
  Datafruits Game Demos
  Seminars
</section>
<section>
  <h3>WHERE</h3>
  DADS Chicago
  2515 S Archer Ave Ste 2, Chicago, IL 60608
  Chicago,IL
  <h3>TICKETS</h3>
  <ul>
    <li>$20 Two Day Wristbands (Early Presale) (50?)</li>
    <li>$25 Two Day Wristbands (Not Presale)</li>
    <li>$15 Each Day</li>
  </ul>
  Tickets available at:
  http://www.dadschicago.com/
</section>
{{outlet}}