{{page-title "DATAFRUITS WORLD EXPO 2023"}}

<main>
  <nav>
    <ul class="flex flex-wrap">
      <li><a href="#schedule">SCHEDULE</a></li>
      <li><a href="#info">INFO</a></li>
      <li><a href="#travel">TRAVEL</a></li>
    </ul>
  </nav>
  <section id="poster-full">
    <a href={{this.expo}} target="_blank" class="no-flex md:flex md:justify-center-center">
      <img src="{{this.expo}}" alt="">
    </a>
  </section>
  <section id="flyer-bg" class="w-3/5">
    <article id="info" class="p-2">
      <h1 class="text-3xl md:text-6xl">
        Datafruits World Expo
      </h1>
      <h2 class="text-xl md:text-2xl text-right">
        2023
      </h2>
      <h2 class="text-2xl md:text-5xl">
        August 4th - 5th
      </h2>
    </article>
    <section id="details-section" class="w-full flex-wrap md:inline-flex items-stretch">
      <section id="where-section" class="bg-green-400/50 w-full md:w-1/2">
        <h3 class="text-3xl">WHERE</h3>
        <span>
          <strong>
            DADS Chicago
          </strong>
        </span>
        <br />
        <span>
          2515 S Archer Ave Ste 2
        </span>
        <br />
        <span>
          Chicago, IL 60608
        </span>
      </section>
      <section id="tickets section" class="bg-yellow-400/50 w-full md:w-1/2">
        <h3 class="text-3xl">TICKETS</h3>
        <ul>
          <li>$20 Two Day Wristbands (Early Presale) (50?)</li>
          <li>$25 Two Day Wristbands (Not Presale)</li>
          <li>$15 Each Day</li>
        </ul>
        <span>
          Tickets available at:
        </span>
        <br />
        <a
          class="text-blue-600 bg-yellow-200"
          href="http://www.dadschicago.com/tickets/"
        >http://www.dadschicago.com/tickets/</a>
        <br />
      </section>
    </section>
    <section id="lineup-section" class="w-full">
      <ul id="expo-dj-lineup" class="inline-flex flex-wrap">
        <li>WIFI CELLPHONE KIDZ</li>
        <li>alptrack</li>
        <li>Zaxy</li>
        <li>jonnn</li>
        <li>DJ Fuzzy Guy</li>
        <li>venoSci</li>
        <li>Ivy Hollivana</li>
        <li>ovenrake </li>
        <li>FMSHAGGI</li>
        <li>getdizzy</li>
        <li>Sarah Allen Reed & The Jazz Program</li>
        <li>firedrill</li>
        <li>Saskrotch</li>
        <li>gossamarie b2b lebers</li>
        <li>lilienfeld</li>
        <li>DJ Cyber Grandpa</li>
      </ul>
      <ul id="expo-vj-lineup" class="inline-flex flex-wrap">
        <li>Hazelboy</li>
        <li>Oracle</li>
        <li>Jace Inman</li>
        <li>pointless insanity</li>
      </ul>
    </section>
    <section id="sponsors">
      <SponsorsList />
    </section>
    <section id="schedule">
    </section>
    <section id="travel">
    </section>
  </section>
</main>
