{{page-title "DATAFRUITS WORLD EXPO 2023"}}

<main class="flex w-full">
  <section class="m-12 p-12 bg-zinc-50/50">
    <section class="p-8 bg-pink-800/50">
      <h1 class="text-6xl">
        Datafruits World Expo
      </h1>
      <h2 class="text-center py-8 text-4xl">
        August 4th - 5th 2023
      </h2>
    </section>
    <section class="bg-sky-300/50 text-center font-bold italic rounded-lg m-8 text-xl">
      <span>
        15+ Artists/Musicians
      </span>
      <br>
      <span>
        VJs
      </span>
      <br>
      <span>
        Datafruits Game Demos
      </span>
      <br>
      <span>
        Seminars
      </span>
    </section>
    <section class="w-full inline-flex items-stretch">
      <section id="where-section" class="p-8 bg-green-400/50 w-1/2">
        <h3 class="text-3xl">WHERE</h3>
        <span>
          <strong>  
            DADS Chicago
          </strong>
        </span>
        <br>
        <span>
          2515 S Archer Ave Ste 2
        </span>
        <br>
        <span>
           Chicago, IL 60608
        </span>
      </section>
      <section id="tickets section" class="p-8 bg-yellow-400/50 w-1/2">
        <h3 class="text-3xl">TICKETS</h3>
        <ul>
          <li>$20 Two Day Wristbands (Early Presale) (50?)</li>
          <li>$25 Two Day Wristbands (Not Presale)</li>
          <li>$15 Each Day</li>
        </ul>
        <span>
          Tickets available at:
        </span>
        <br>
        <a class="text-blue-600 bg-yellow-200" href="http://www.dadschicago.com/tickets/">http://www.dadschicago.com/tickets/</a>
        <br>
      </section>
    </section>
  </section>
</main>